VITE_POWER_BI_EMBED_URL=https://app.powerbi.com/view?r=eyJrIjoiZDc0OTAzYjMtZTlhNS00YThlLWE4MDktMjczYzAzMmU4MWUxIiwidCI6ImNkY2JiMGUyLTlmZWEtNGY1NC04NjcwLTY3MjcwNzc5N2FkYSIsImMiOjEwfQ%3D%3D&filterPaneEnabled=false&navContentPaneEnabled=false&pageView=fitToPage
